img{
    margin-top: 20px;
    border:5px solid white;
    width: 100%;

}
h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.quote
{   color: white;
    text-align: center;
    font-family: "Libre Basekerville",serif;
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}   